<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
	<typeAliases>
		<typeAlias type="com.bs.helloboot.model.dto.Member" alias="member"/>
		<typeAlias type="com.bs.helloboot.board.model.dto.Board" alias="board"/>
		<typeAlias type="com.bs.helloboot.schedule.model.dto.Schedule" alias="schedule"/>
		<typeAlias type="com.bs.helloboot.feed.model.dto.Feed" alias="feed"/>
		<typeAlias type="com.bs.helloboot.community.model.dto.Community" alias="community"/>
	</typeAliases>
</configuration>